html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css')
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
      link(rel='stylesheet' href='/assets/styles/main.css')
      link(rel='shortcut icon' href='/assets/images/favicon.ico')
      script(src='/assets/scripts/main.js') 
  body.main.has-background-black-ter
    nav.navbar.is-dark(role='navigation' aria-label='main navigation')
      .navbar-brand
        a.navbar-item(href='/')
          img(src='/assets/images/nav.png' alt='[]')
        a.navbar-burger(role='button' class='navbar-burger' aria-label='menu' aria-expanded='false' data-target='navmenu')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
      .navbar-menu.has-background-dark#navmenu
        .navbar-start
          a.navbar-item.has-text-white(href='/') Arraybot
          if login 
            .navbar-item.has-dropdown.is-hoverable
              a.navbar-link.has-text-white Web Panel
              .navbar-dropdown.has-background-dark
                a.navbar-item.has-text-white(href='/select/') Select Server
                a.navbar-item.has-text-white(href='/panel/') Modify Server
          else
            a.navbar-item.has-text-white(href='/panel/') Web Panel
          a.navbar-item.has-text-white(href='/go/docs/') Documentation
        .navbar-end
          .navbar-item.buttons
            if login
              a.button.is-light(href='/logout/') Log out
            else
              a.button.is-light(href='/login/') Log in
            a.button.is-warning(href='https://www.patreon.com/arraying')
              span.icon
                i.fab.fa-patreon
              span
                strong Patreon
    section.hero.is-medium.is-warning.is-bold
      .hero-body
        .container.has-text-centered
          p.title= title
          p.subtitle= subtitle
    block site
    section.hero.is-dark
      .hero-body
        .container.has-text-centered
          p.is-size-5
            span.has-text-weight-bold Arraybot
            |  was made by 
            a(href='https://arraying.de')
              span.has-text-weight-semibold Arraying
            |  using 
            a(href='https://bulma.io/')
              span.has-text-weight-semibold Bulma CSS
            | .
          p.is-size-5.pt-3.has-text-weight-light (c) Copyright 2021, all rights reserved.