extends base.pug

block append head
  title Arraybot
block site
  section.section
    .container
      h1.title.has-text-white.is-size-1 What is Arraybot?
      h2.subtitle.has-text-grey-lighter The bot at a glance.
      p.has-text-grey-light
        | Arraybot is a multipurpose Discord bot that has been around since 2016.
        | The bot's goal is to aid with general day-to-day activities, and to customise your Discord experience to your need. 
        | Powerful yet with a simplistic design, it's ready to work out of the box, you just have to add it to your server.
        | The project is fully transparent and open-source, funded by the community
  section.section.pt-0
    .container
      .buttons.is-centered
        a.button.is-large.is-warning(href='/go/invite/') Invite bot
        a.button.is-large.is-warning(href='/go/server/') Join server
        a.button.is-large.is-warning(href='/go/docs/') How to use
  section.section
    .container
      h1.title.has-text-white.is-size-1 Feature Overview
      h2.subtitle.has-text-grey-lighter Here are some features Arraybot comes packed with, out of the box.
      .columns.is-multiline
        .column.is-one-third
          h2.heading.has-text-grey-light Keep your server clean - easily
          h2.title.has-text-grey-light Extensive moderation suite
          figure.image.is-4by3
            img(src='https://bulma.io/images/placeholders/640x480.png')
        .column.is-one-third
          h2.heading.has-text-grey-light From chat responses to advanced actions
          h2.title.has-text-grey-light Powerful custom commands
          figure.image.is-4by3
            img(src='https://bulma.io/images/placeholders/640x480.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Give your server a unique look and feel
          h2.title.has-text-grey-light Server customisation
          figure.image.is-4by3
            img(src='https://bulma.io/images/placeholders/640x480.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Little helpers to make your life easier
          h2.title.has-text-grey-light Utility-filled
          figure.image.is-4by3
            img(src='https://bulma.io/images/placeholders/640x480.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Cute cats and dogs are a must-have
          h2.title.has-text-grey-light Meow?!
          figure.image.is-4by3
            img(src='https://bulma.io/images/placeholders/640x480.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Manage your server on your own terms
          h2.title.has-text-grey-light Extremely flexible
          figure.image.is-4by3
            img(src='https://bulma.io/images/placeholders/640x480.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Host your own version, if you wish
          h2.title.has-text-grey-light Fully open source
          figure.image.is-4by3
            img(src='https://bulma.io/images/placeholders/640x480.png')
        .column.is-one-third
          h2.heading.has-text-grey-light No core features are behind a paywall
          h2.title.has-text-grey-light Free of charge
          figure.image.is-4by3
            img(src='https://bulma.io/images/placeholders/640x480.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Trusted since 2016
          h2.title.has-text-grey-light Transparent service
          figure.image.is-4by3
            img(src='https://bulma.io/images/placeholders/640x480.png')
  section.section
    .container
      h1.title.has-text-white.is-size-1 Testimonials
      h2.subtitle.has-text-grey-lighter See what long term users think.
      