extends base.pug

block append head
  title Arraybot
block site
  section.section
    .container
      h1.title.has-text-white.is-size-1 What is Arraybot?
      h2.subtitle.has-text-grey-lighter The bot at a glance.
      p.has-text-grey-light
        | Arraybot is a multipurpose Discord bot that has been around since 2016.
        | The bot's goal is to aid with general day-to-day activities, and to customise your Discord experience to your need. 
        | Powerful yet with a simplistic design, it's ready to work out of the box, you just have to add it to your server.
        | The project is fully transparent and open-source, funded by the community
  section.section.pt-0
    .container
      .buttons.is-centered
        a.button.is-large.is-warning(href='/go/invite/') Invite bot
        a.button.is-large.is-warning(href='/go/server/') Join server
        a.button.is-large.is-warning(href='/go/docs/') How to use
  section.section
    .container
      h1.title.has-text-white.is-size-1 Feature Overview
      h2.subtitle.has-text-grey-lighter Here are some features Arraybot comes packed with, out of the box.
      .columns.is-multiline
        .column.is-one-third
          h2.heading.has-text-grey-light Keep your server clean - easily
          h2.title.has-text-grey-light Extensive moderation suite
          figure.image.is-4by3
            img(src='/assets/images/features_moderation.png')
        .column.is-one-third
          h2.heading.has-text-grey-light From chat responses to advanced actions
          h2.title.has-text-grey-light Powerful custom commands
          figure.image.is-4by3
            img(src='/assets/images/features_customcommands.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Give your server a unique look and feel
          h2.title.has-text-grey-light Server customisation
          figure.image.is-4by3
            img(src='/assets/images/features_customization.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Little helpers to make your life easier
          h2.title.has-text-grey-light Utility-filled
          figure.image.is-4by3
            img(src='/assets/images/features_tools.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Cute cats and dogs are a must-have
          h2.title.has-text-grey-light Meow?!
          figure.image.is-4by3
            img(src='/assets/images/features_cat.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Manage your server on your own terms
          h2.title.has-text-grey-light Extremely flexible
          figure.image.is-4by3
            img(src='/assets/images/features_flexible.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Host your own version, if you wish
          h2.title.has-text-grey-light Fully open source
          figure.image.is-4by3
            img(src='/assets/images/features_foss.png')
        .column.is-one-third
          h2.heading.has-text-grey-light No core features are behind a paywall
          h2.title.has-text-grey-light Free of charge
          figure.image.is-4by3
            img(src='/assets/images/features_free.png')
        .column.is-one-third
          h2.heading.has-text-grey-light Trusted since 2016
          h2.title.has-text-grey-light Transparent service
          figure.image.is-4by3
            img(src='/assets/images/features_transparent.png')
      p.has-text-grey-light Screenshots and GIFs from the bot are currently not present as the current generation is not yet online. 
        | If you have any images you think would be a good fit, feel free to submit them.
  section.section
    .container
      h1.title.has-text-white.is-size-1 Testimonials
      h2.subtitle.has-text-grey-lighter See what long term users think.
      .columns.is-multiline
        .column.is-half
          .card
            .card-header.has-background-black-bis
              p.card-header-title
                a.has-text-grey-light(href='https://discord.gg/earthshrine') Hekili#719
            .card-content.has-background-black-bis.pt-0
              p.has-text-grey-light.is-size-5 "Arraybot has been incredibly helpful for sharing information and updates with the thousands of users in our class Discord. The ability to easily update chat commands to provide new information and send that information out through appropriate channels (in chat or privately) has helped to simply our moderation and keep updates consistent amongst thousands of users. The developer smells like pie."
        .column.is-half
          .card
            .card-header.has-background-black-bis
              p.card-header-title
                a.has-text-grey-light(href='https://discord.gg/earthshrine') Maelfus#1846
            .card-content.has-background-black-bis.pt-0
              p.has-text-grey-light.is-size-5 "Arraybot has been a huge boon to our community. Its custom commands allow us to more easily disseminate information to thousands of our users without the performance issues we've run into with other bots. To top it off, the developer has been very responsive to feedback. I highly recommend Arraybot for any large or small discord community."
        .column.is-half
          .card
            .card-header.has-background-black-bis
              p.card-header-title
                a.has-text-grey-light(href='#') You?
            .card-content.has-background-black-bis.pt-0
              p.has-text-grey-light.is-size-5 You're welcome to leave a testimonial if you enjoy Arraybot and want to spread the word
        .column.is-half
          .card
            .card-header.has-background-black-bis
              p.card-header-title
                a.has-text-grey-light(href='https://discord.gg/RZXbYCY') Total#8149
            .card-content.has-background-black-bis.pt-0
              p.has-text-grey-light.is-size-5 "I mostly use it for custom text commands as it's the only bot I could find that has the ability built-in to build some complex reply strings on the user end."