extends panel.pug

block append head
  script(src='/assets/scripts/panel_custom_commands.js')

block dashboard
  block variables
  .container
    .modal#warning
      .modal-content
        p.image.is-4by3(src='https://bulma.io/images/placeholders/1280x960.png')
    form.form-control#form
      h1.title.has-text-white.is-size-2 Custom Commands
      field.has-addons#form_new
        label.label New custom command
        .control.mt-4
          input.input.short#new_name(type='text' name='name' maxlength='32' size='32' placeholder='Command name...' disabled)
          button.button.is-warning#new_button Create
          p.help This will redirect you once created. Please make sure to save any changes prior to making a new command!
      .columns.is-multiline.mt-2
        each custom in custom_commands
          .column.is-one-third(id='card-' + custom.hash)
            .card
              .card-content.has-background-black-bis
                h2.title.has-text-white= custom.name
                h3.subtitle.has-text-grey-light= custom.description
              footer.card-footer.has-background-black
                .card-footer-item
                  a.button.is-warning(href= '/panel/customcommand?name=' + custom.url)
                    span.icon
                      i.fas.fa-wrench
                    span Make changes
                .card-footer-item
                  button.button.is-dark.delete-button(data-refers= custom.hash, data-name= custom.name)
                    span.icon
                      i.fas.fa-trash
                    span Delete command
        