extends panel_list.pug

block append head
  script(src='/assets/scripts/panel_announcements.js')

block variables
    - var settings_title = 'Settings';
    - var settings_subtitle = 'Here, you can control and time the announcements.';
    - var list = [{ title: 'Announcements', type: 'text', help: 'A list of filtered phrases (or regular expressions if this is enabled above).' }];

block dashboard_settings
  .field
    label.label Enabled
    .control
      div.select
        select.static(name='enabled' disabled)
          option(value='false') No - there are no scheduled announcements
          option(value='true') Yes - announcements will be sent according to schedule
    p.help Whether or not the chat filter should be enabled in the server.
  .field
    p.help When the filter is not on silent mode: what message to send. Placeholders are supported.