extends panel_list.pug

block append head
  script(src='/assets/scripts/panel_disabled_commands.js')

block variables
    - var list = [{ title: 'Disabled Commands', type: 'command', help: 'A list of build-in commands that will not execute if attempted.' }];

block dashboard_settings