extends panel.pug

block append head
  script(src='/assets/scripts/panel_guild.js')
block dashboard
  .container
    form.form.control
      h1.title.has-text-white.is-size-2 Basics
      .field#form_prefix
        label.label Prefix
        .control
          input.input.short(type='text' name='prefix' maxlength='32' size='32' disabled)
        p.help The prefix that will trigger Arraybot commands (slashcommands not supported).
      h1.title.has-text-white.is-size-2 Joining the Server
      .field#form_autorole
        label.label Autorole
        .control
          div.select
            select(name='join_role' data-type='role' disabled)
              option.has-text-weight-bold(value='0') None - disable feature
        p.help This role will be given to members, after they complete membership screening (if this is enabled).
      .field#form_ja_message
        label.label Message
        .control
          textarea.textarea(type='textarea' name='join_message' maxlength='2000' size='2000' disabled)
        p.help The message to send. This may contain placeholders.
      .field#form_ja_channel
        label.label Channel
        .control
          div.select
            select(name='join_channel' data-type='channel' disabled)
              option.has-text-weight-bold(value='0') None - disable feature
        p.help The channel in which to send the above join messages.
      h1.title.has-text-white.is-size-2 Leaving the Server
      .field#form_la_message
        label.label Message
        .control
          textarea.textarea(type='textarea' name='leave_message' maxlength='2000' size='2000' disabled)
        p.help The message to send. This may contain placeholders.
      .field#form_la_channel
        label.label Channel
        .control
          div.select
            select(name='leave_channel' data-type='channel' disabled)
              option.has-text-weight-bold(value='0') None - disable feature
        p.help The channel in which to send the above leave messages.
      h1.title.has-text-white.is-size-2 Punishments
      .field#form_modlog
        label.label Punishment Log
        .control
          div.select
            select(name='mod_log' data-type='channel' disabled)
              option.has-text-weight-bold(value='0') None - disable feature
        p.help If set, this will log every punishment to the specified channel.
      .field#form_mute_role
        label.label Muted Role
        .control
          div.select
            select(name='mute_role' data-type='role' disabled)
              option.has-text-weight-bold(value='0') None - disable feature
        p.help The role that is assigned to those muted.
      .field#form_mute_perm
        label.label Muting Permission
        .control
          div.select
            select(name='mute_permission' data-type='permission' disabled)
              option.has-text-weight-bold(value='0') None - disable feature
        p.help The permission that allows members to mute.
      