extends base.pug

block append head
  link(rel='stylesheet', href='/assets/styles/panel.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css')
  script(src='https://cdn.jsdelivr.net/npm/bulma-toast@2.3.0/dist/bulma-toast.min.js') 
  script(src="/assets/scripts/panel.js") 
  title Arraybot - Web Panel - #{portion_name}
block site
  nav.breadcrumb.is-centered.mt-5(aria-label='breadcrumbs')
    ul
      li
        a.crumb(href='/select/') Web Panel
      li
        a.crumb(href='/panel/') #{name}
      li
        a.crumb(href='#') #{portion_name}
  section.section.p-0
    .tabs.is-centered.is-large.is-warning
      ul
        if portion_name == 'Settings'
          li.is-active
            a(href='/panel/') Settings
        else
          li
            a(href='/panel/') Settings

        if portion_name == 'Announcements'
          li.is-active
            a(href='/panel/announcements/') Announcements
        else
          li
            a(href='/panel/announcements/') Announcements

        if portion_name == 'Custom Commands'
          li.is-active
            a(href='/panel/customcommands/') Custom Commands
        else
          li
            a(href='/panel/customcommands/') Custom Commands

        if portion_name == 'Disabled Commands'
          li.is-active
            a(href='/panel/disabledcommands/') Disabled Commands
        else
          li
            a(href='/panel/disabledcommands/') Disabled Commands

        if portion_name == 'Filter'
          li.is-active
            a(href='/panel/filter/') Filter
        else
          li
            a(href='/panel/filter/') Filter

        if portion_name == 'Filter Bypasses'
          li.is-active
            a(href='/panel/filterbypasses/') Filter Bypasses
        else
          li
            a(href='/panel/filterbypasses/') Filter Bypasses
  section.section.forms
    block dashboard
  section.section.m-0.pt-0
    .container
      button.button.is-medium.is-warning Save